In [6]:
import pandas as pd
df = pd.read_csv('output.csv')

In [7]:
df.head(10)

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
5,5,AL,118,510,Yes,No,0,223.4,98.0,37.98,...,203.9,118.0,9.18,6.3,6,1.70,0.0,False,100,0
6,7,MO,147,415,Yes,No,0,157.0,79.0,26.69,...,211.8,96.0,9.53,7.1,6,1.92,0.0,False,100,0
7,8,LA,117,408,No,No,0,184.5,97.0,31.37,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
8,9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,...,326.4,97.0,14.69,11.2,5,3.02,0.0,False,100,0
9,10,IN,65,415,No,No,0,129.1,137.0,21.95,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1

In [8]:
tempdict = {'col1': [1, 2, 31], 'col2': [14, 5, 61], 'col3': [7, 8, 91]}

In [9]:
dictdf = pd.DataFrame.from_dict (tempdict)
dictdf.head()

   col1  col2  col3
0     1    14     7
1     2     5     8
2    31    61    91

In [10]:
df.tail(15)

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
3292,3318,OK,52,415,No,No,0,124.9,131.0,21.23,...,192.5,106.0,8.66,11.6,4,3.13,2.0,False,100,0
3293,3319,WY,89,415,No,No,0,115.4,99.0,19.62,...,280.9,112.0,12.64,15.9,6,4.29,3.0,False,100,0
3294,3320,GA,122,510,Yes,No,0,140.0,101.0,23.80,...,120.1,133.0,5.40,9.7,4,2.62,4.0,True,100,1
3295,3321,VT,60,415,No,No,0,193.9,118.0,32.96,...,210.1,134.0,9.45,13.2,8,3.56,3.0,False,100,0
3296,3322,MD,62,408,No,No,0,321.1,105.0,54.59,...,180.5,72.0,8.12,11.5,2,3.11,4.0,True,100,1
3297,3323,IN,117,415,No,No,0,118.4,126.0,20.13,...,227.0,56.0,10.22,13.6,3,3.67,5.0,True,100,1
3298,3324,WV,159,415,No,No,0,169.8,114.0,28.87,...,193.7,82.0,8.72,11.6,4,3.13,1.0,False,100,0
3299,3325,OH,78,408,No,No,0,193.4,99.0,32.88,...,243.3,109.0,10.95,9.3,4,2.51,2.0,False,100,0
3300,3326,OH,96,415,No,No,0,106.6,128.0,18.12,...,178.9,92.0,8.05,14.9,7,4.02,1.0,False,100,0
3301,3327,SC,79,415,No,No,0,134.7,98.0,22.90,...,221.4,128.0,9.96,11.8,5,3.19,2.0,False,100,0
3302,3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,415,No,No,0,231.1,57.0,39.29,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,510,No,No,0,180.8,109.0,30.74,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [16]:
df.describe()

,Unnamed: 0,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,New Column,Churn Binary
count,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000
mean,1678.736015,101.072573,437.141820,8.061385,179.745116,100.446024,30.557212,200.946538,100.173571,17.080668,200.972725,100.107046,9.043846,10.234593,4.471424,2.763846,1.561234,99.972785,0.145147
std,955.240389,39.808520,42.345868,13.667145,54.492493,20.064620,9.263710,50.514273,19.929825,4.293716,50.541952,19.543413,2.274444,2.794218,2.450851,0.754415,1.314486,1.565040,0.352302
min,0.000000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
25%,852.500000,74.000000,408.000000,0.000000,143.600000,87.000000,24.410000,166.600000,87.000000,14.160000,167.100000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,100.000000,0.000000
50%,1679.000000,101.000000,415.000000,0.000000,179.300000,101.000000,30.480000,201.300000,100.000000,17.110000,201.300000,100.000000,9.060000,10.300000,4.000000,2.780000,1.000000,100.000000,0.000000
75%,2505.500000,127.000000,510.000000,19.000000,216.500000,114.000000,36.805000,235.300000,114.000000,20.000000,235.400000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,100.000000,0.000000
max,3332.000000,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,100.000000,1.000000

In [15]:
df.columns

Unnamed: 0                  int64
State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                        bool
New Column                  int64
Churn Binary                int64
dtype: object

In [20]:
df.dtypes

Unnamed: 0                  int64
State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                        bool
New Column                  int64
Churn Binary                int64
dtype: object

In [19]:
df.describe(include = 'object')

       State International plan Voice mail plan
count   3307               3307            3307
unique    51                  2               2
top       WV                 No              No
freq     106               2985            2396

In [21]:
df.State

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3302    AZ
3303    WV
3304    RI
3305    CT
3306    TN
Name: State, Length: 3307, dtype: object

In [22]:
df['International plan']

0        No
1        No
2        No
3       Yes
4       Yes
       ...
3302     No
3303     No
3304     No
3305    Yes
3306     No
Name: International plan, Length: 3307, dtype: object

In [23]:
df[['State', 'International plan']]

     State International plan
0       KS                 No
1       OH                 No
2       NJ                 No
3       OH                Yes
4       OK                Yes
...    ...                ...
3302    AZ                 No
3303    WV                 No
3304    RI                 No
3305    CT                Yes
3306    TN                 No

[3307 rows x 2 columns]

In [24]:
df.Churn.unique()

array([False,  True])

In [25]:
df.drop('Area code', axis=1)

,Unnamed: 0,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3302,3328,AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,Yes,No,0,213.8,105.0,36.35,159.6,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [26]:
df['New Column'] = df['Total night minutes'] + df['Total intl minutes']

In [27]:
df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,254.7,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,268.1,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,174.8,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,203.5,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,197.0,0

In [28]:
df['New Column'] = 100

In [29]:
df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [31]:
df.iloc[0,-1] = 10

In [23]:
df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [24]:
df['Churn Binary'] = df['Churn'].apply(lambda x: 1 if x==True else 0)

In [25]:
df[df['Churn']==True].head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
9,10,IN,65,415,No,No,0,129.1,137.0,21.95,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1
20,41,MD,135,408,Yes,Yes,41,173.1,85.0,29.43,...,122.2,78.0,5.50,14.6,15,3.94,0.0,True,100,1
27,48,ID,119,415,No,No,0,159.1,114.0,27.05,...,143.2,91.0,6.44,8.8,3,2.38,5.0,True,100,1
33,54,WY,87,415,No,No,0,151.0,83.0,25.67,...,203.9,127.0,9.18,9.7,3,2.62,5.0,True,100,1
36,57,CO,121,408,No,Yes,30,198.4,129.0,33.73,...,181.2,77.0,8.15,5.8,3,1.57,3.0,True,100,1